{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="templates/todo/index.css"/>
	stylesheet
{% endblock %}
{% block title %}Todo App
{% endblock %}


{% block body %}

	{{ form_start(form) }}

	{{ form_widget(form.text, {"attr":{'class':"todo-input","placeholder":"Enter text"}}) }}
	{{ form_widget(form.date, {"attr":{'class':"date-input"}}) }}
	{{ form_widget(form.submit, {"attr":{'class':"todo-button "}}) }}


	{{ form_end(form) }}

	<div class="todo-container">
		<ul class="todo-list">
			{% for todo in todos %}
                <div class="todo">
                    <li class="todo-item">
						<p class="todo-text">{{ todo.text }}</p>
						<p class="todo-date"> {{ todo.date|date('d/m/Y') }}</p>

						<div class="todo-icons">
							<i class="fas fa-check complete-btn"></i>
							<a href="{{ path('todo_remove',{id: todo.id })}}" onclick="alert('Are you sure you want to remove this ')"><i class="fas fa-trash trash-btn"></i></a>
						</div>
					</li>
                </div>
			{% endfor %}
		</ul>
	</div>


{% endblock %}
